@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Google's palette */
/* blue: #4285f4 */
/* red: #ea4335 */
/* yellow: #fbbc05 */
/* green: #34a853 */

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    background: #2196f3;
}

nav .light {
    color: white;
}
