@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Google's palette */
/* blue: #4285f4 */
/* red: #ea4335 */
/* yellow: #fbbc05 */
/* green: #34a853 */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #f2f2f2;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.25em 1.6em 0.5em 1.37em;
    max-width: 1300px;
    margin: 0 auto;

    color: white;
    background-color: #2196f3
}

header #logo {
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
}

header .nav_elements li {
    display: inline-block;
    cursor: pointer;
}

header .nav_elements li img {
    height: 20px;
    padding: 0 1.3em;
}

#container {
    margin: 3px auto;
    padding: 0 5.7em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
}

#container .card {
    margin: 2em auto;
    padding: 10px 20px;
    min-width: fit-content;
    width: 356px;
    border: none;
    border-radius: 2px;
    background: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.22)
}

#container .card h2 {

    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
}
