@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* Google's palette */
/* blue: #4285f4 */
/* red: #ea4335 */
/* yellow: #fbbc05 */
/* green: #34a853 */

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow-y: hidden;
}

html, body {
    background: #f2f2f2;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.25em 1.6em 0.5em 1.37em;
    width: 90vw;
    min-width: 1150px;
    margin: 0 auto;

    color: white;
    background-color: #2196f3
}

header #logo {
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
}

header .nav_elements li {
    display: inline-block;
    cursor: pointer;
}

header .nav_elements li img {
    height: 20px;
    padding: 0 1.3em;
}
